.home {
  margin-left: 400px;
}
.home1 {
  padding: 10px;
}
.home2 {
  padding: 10px;
}
.home3 {
  padding: 10px;
}
.home4 {
  padding: 10px;
}
.home5 {
  padding: 10px;
}
.home6 {
  padding: 10px;
}
.home7 {
  padding: 10px;
  padding-left: 170px;
}
